.arrow-anim-container {
  @apply absolute; 
  
  &-1 {
      @apply left-20 transform -top-8;
      transform-origin: left top;

  }

  &-2 {
    @apply right-52 bottom-36
}

}

.arrow-back-1 {
    @apply bg-gray-7070 right-0 top-3;
    width: 180px;
    height: 1px;
}

.arrow-back-2 {
    @apply bg-gray-7070;
    width: 1px;
    left: 22px;
    height: 194px;
}