body {
  &::after {
    content: "xs";
    @apply block fixed bottom-0 left-0 w-screen p-2 bg-black text-white font-bold z-20;
  }
}

@media (min-width: 640px) {
  body {
    &::after {
      content: "sm: min-width: 640px";
    }
  }
}

@media (min-width: 768px) {
  body {
    &::after {
      content: "md: min-width: 768px";
    }
  }
}

@media (min-width: 1024px) {
  body {
    &::after {
      content: "lg: min-width: 1024px";
    }
  }
}

@media (min-width: 1280px) {
  body {
    &::after {
      content: "xl: min-width: 1280px";
    }
  }
}

@media (min-width: 1536px) {
  body {
    &::after {
      content: "2xl: min-width: 1536px";
    }
  }
}

@media (min-width: 1920px) {
  body {
    &::after {
      content: "3xl: min-width: 1900px";
    }
  }
}
