.lines-heading-wrapper {
  @apply relative;
}

.lines-wrapper {
  @media (min-width: 768px) and (max-width: 1024px) {
    @apply relative -top-20;
  }
}

.line-1,
.line-2,
.line-3,
.line-4,
.line-5,
.line-6,
.line-7,
.line-8,
.line-9,
.line-10 {
  @apply hidden lg:block;
}

.line {
  @apply h-1 mb-1 absolute;
  // background: rgb(232, 125, 0);

  background: linear-gradient(
    90deg,
    rgba(73, 126, 192, 1) 0%,
    rgba(73, 126, 192, 1) 100%
  );
}

.line-1 {
  @apply w-48 -left-10 md:-left-10 lg:-left-10 xl:-left-24 2xl:-left-96;

  top: 48px;

  @media (min-width: 640px) {
    top: 28px;
  }

  @media (min-width: 1024px) {
    left: -20.5rem;
    top: 28px;
  }

  @media (min-width: 1280px) {
    left: -330px;
    width: 320px;
    top: 28px;
  }

  @media (min-width: 1536px) {
    left: -360px;
    width: 320px;
    top: 28px;
  }
}

.line-2 {
  @apply w-48 -left-10 md:-left-24  2xl:-left-96;
  top: 68px;

  @media (min-width: 640px) {
    top: 48px;
  }

  @media (min-width: 1024px) {
    left: -20.5rem;
    top: 48px;
  }

  @media (min-width: 1280px) {
    left: -330px;
    width: 320px;
    top: 48px;
  }

  @media (min-width: 1536px) {
    left: -360px;
    width: 320px;
    top: 48px;
  }
}

.line-3 {
  @apply 2xl:-left-96 hidden lg:block lg:-left-36 w-48;
  top: 68px;

  @media (min-width: 1024px) {
    left: -21rem;
    top: 68px;
  }

  @media (min-width: 1280px) {
    @apply -left-52;
    top: 68px;
  }

  @media (min-width: 1536px) {
    left: -360px;
    top: 68px;
  }
}

.line-4 {
  @apply w-96 md:w-96 -right-16 lg:-right-80 md:-right-96;
  top: 64px;

  @media (min-width: 768px) {
    width: 1400px;
  }
  @media (min-width: 1024px) {
    width: 1400px;
  }
}

.line-5 {
  @apply w-96 lg:w-80 -right-16 lg:-right-80 md:-right-96;
  top: 84px;

  @media (min-width: 768px) {
    width: 620px;
  }
}

.line-6 {
  @apply hidden lg:block w-96 lg:w-80 -right-24 lg:-right-80 md:-right-96;

  top: 104px;

  @media (min-width: 768px) {
    width: 620px;
  }
}

.line-7 {
  @apply w-80 -left-7 xl:-left-96 2xl:-left-96 hidden xl:block;
  top: 44px;
}

.line-8 {
  @apply w-80 -left-12 xl:-left-80 2xl:-left-96;
  top: 64px;
}

.line-9 {
  @apply -left-96;
  width: 620px;
  top: 84px;
}
