.portfolio-hero {
  // height: 88vh;
  @apply relative xl:mt-36 overflow-hidden;


  &--inner {
    @apply flex flex-col lg:flex-row items-center justify-center h-full;
  }

  &-left {
    @apply  w-full h-full border flex items-center justify-center ;
    
      height: 50vh;

    @media (min-width: 640px) {
      width: 640px;
      height: 640px;
  }

    @media (min-width: 1024px) {
      width: 500px;
      height: 500px;
  }
  
    @media (min-width: 1280px) {
      width: 700px;
      height: 700px;
  }
  @media (min-width: 1536px) {
    width: 800px;
      height: 800px;
}

    .swiper-slide {
      @apply flex items-center justify-center h-full bg-cover bg-no-repeat;
    }
  }

  &-right {
    @apply h-full w-full xl:w-6/12 flex flex-col items-start justify-center text-left pl-11 pr-11 pt-4 xl:pt-0;

    .portfolio-right-excerpt {
      @apply mt-16;

      a {
        @apply inline-block mt-20 hover:text-main-blue;
        @include globalTransition;
      }
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: rgba(188, 188, 188, 0.5);
  }

  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    background: #bcbcbc;
  }
}

.portfolio-other--heading {
  @include innerContainer;
  @apply pt-32 pb-32 pl-7 pr-7;
}

.portfolio-other--inner {
  @apply w-full overflow-hidden;
}

.portfolio-thumb-item {
  @apply h-80 bg-cover bg-gray-7070 hover:opacity-80 p-8;
  border: 1px solid white;
  @include globalTransition;

  &:hover {
    .portfolio-thumb-item--content {
      @apply opacity-100;
      @include globalTransition;
    }
  }

  &--content {
    @apply text-white text-left relative w-full h-full opacity-0;
    @include globalTransition;

    a {
      @apply block w-full h-full left-0 top-0 border-main-blue z-20 absolute;
    }

    h3 {
      @apply mb-6 text-lg font-book;
    }

    p {
      @apply font-light;
    }
  }
}

.download-report {
  @apply pl-7 pr-7 pt-16 pb-16 flex items-center justify-center mx-auto;

  a {
    @apply text-xl uppercase text-white w-64 pl-11 pr-11 flex items-center justify-center border-2 text-center pt-2 pb-2 bg-main-blue hover:bg-main-orange;
    @include globalTransition;

    &:hover {
      @apply text-white;
      // background: linear-gradient(
      //   90deg,
      //   rgba(232, 125, 0, 1) 0%,
      //   rgba(73, 126, 192, 1) 100%
      // );
    }
  }
}

.portfolio-shadow {
  box-shadow: 3px 30px 24px 6px #ababab;
}

.portfolio-hero-wrapper {
  @apply border bg-main-blue h-full w-full;
}
